@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham/Gotham-Black.otf");
  font-style: bold;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham/GothamMedium.ttf");
}

body {
  background-color: #FFFFFF;
  color: #111;
  font-family: "Gotham";
  scroll-behavior: smooth;

  width: 100%;

}

#modal-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal_btn {
  margin-top: 20px;
  background-color: white;
  border: 1px solid #CCCCCC;
  padding: 10px;
  border-radius: 30px;
}

.modal_input {
  background-color: white;
  padding:10px 20px;
  border-radius: 20px;
  border: 1px solid #CCCCCC;
}

.modal_btn:hover {
  margin-top: 20px;
  color: white;
  background-color: #53A3F2;
  border: 0px solid;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

html {
  width: 99%;
  height: 97%;
}

#title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  margin: 100px 0px;
  font-weight: bold;
}

#content {
  margin: 0px 15%;
  display: grid;
  justify-items: center;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.section {
  
  border: 1px solid #939393;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
  width: 350px;
  height: 150px;
  text-align: center;
  padding: 7px;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  position: relative;
}

.r_langlogo {
  width: 15%;
}

#title_img {
  width: 150px;
}
a{
    text-decoration: none;
    color: inherit;

}
.back_button{
    position: absolute;
    right: 10px;
    top: 10px;
}
.backlogo{
  font-size: 20px;
}